<html>
  <head>
    <title>Movie Night</title>

  </head>
  <body>
    <h1>Movie Night!</h1>
    <hr>
    <div>
      <h3>Movie List:</h3>
      <ul>
      <% db.forEach(movie => { %>
        <li><%= movie.title %></li>
      <% }) %>
      </ul>

      <hr>
      <h3>Add A Movie</h3>
      <form method="POST" action="/">
        <input type="text" name="title">
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>