<html>
  <head>
    <title>Movie Night</title>

  </head>
  <body>
    <h1>Movie Night!</h1>
    <hr>
    <div>
      <h3>Movie List:</h3>
      <ul>
        <li>Ocean's Eleven</li>
        <li>My Big Fat Greek Wedding</li>
        <li>DeadPool</li>
      </ul>
    </div>
  </body>
</html>